<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../Login/index.css" type="text/css">
		<link rel="stylesheet" href="../Habit/habit.css" type="text/css">
		<link rel="stylesheet" href="../Home/home.css" type="text/css">
		<link rel="stylesheet" href="add-habit.css" type="text/css">
		<title>Strides</title>
	</head>

	<body>
		<form action="" class="add-habit-form">
			<p>I want to</p>
			<input type="text" placeholder="meditate">
			<p>every</p>

			<div>
				<button class="circle-button-s">S</button>
				<button class="circle-button-s">M</button>
				<button class="circle-button-s">T</button>
				<button class="circle-button-s">W</button>
				<button class="circle-button-s">T</button>
				<button class="circle-button-s">F</button>
				<button class="circle-button-s">S</button>
			</div>
			<p>for 30 days</p>

			<button type="submit">Submit</button>

		</form>

			<div class="bottom-toolbar">
				<button><img src="../Assets/home-icon.svg" alt="" class="icon-bar-icon"></button>
				<button><img src="../Assets/plus-icon.svg" alt="" class="icon-bar-icon"></button>
				<button><img src="../Assets/profile-icon.svg" alt="" class="icon-bar-icon"></button>
			</div>
		
	</body>

</html>