.circle-button-s {
	display: inline;

	margin: 10px 0px;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #F2F7FF;
	color: black;
	font-weight: 700;
}

.add-habit-form {
	padding: 0px;
	margin-top: 80px;
	max-width: 288px;
}

.add-habit-form>p {
	font-size: 1.8rem;
	margin: 10px 0px;
	font-weight: 700;
}

.add-habit-form>input {
	text-align: center;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid var(--custom-darkblue) 1px;
	color: var(--custom-darkblue);
	transition: 0.4s ease;
	color:var(--custom-orange);
	font-size: 1.8rem;
	font-weight: 800;
}

.add-habit-form>input::placeholder {
	color: lightslategray;
}

.add-habit-form>input:active {
	border-bottom: solid var(--custom-darkblue) 3px;
}

.add-habit-form>button {
	border: var(--custom-darkblue) solid 2px;
    border-radius: 15px;
    background-color: transparent;
    height: 40px;
	margin: 10px auto;
	margin-top: 40px;
    width: 100%;
	max-width: 200px;
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--custom-darkblue);
}

.custom-orange {
	background-color: var(--custom-orange);
}

.custom-darkblue {
	background-color: var(--custom-darkblue);
}