
ul {
	/* border: dashed black 2px; */
	width: 100%;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0px;
}

li {
	width: 100%;
	padding: 10px;
	margin: 20px auto;

	border-radius: 10px;
	/* border: solid black 2px; */
	box-shadow: 0px 5px 10px rgb(0, 0, 0);
	background-image: url("habit-background.jpg");
	background-size: cover;
	list-style: none;
}
.habit-tool-bar>div>button>a {
	color: black;
}

li>p {
	font-size: 1.2rem;
	font-weight: 300;
	color: white;
}

.habit-tool-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.habit-tool-bar>p {
	margin: 0;
	font-size: 1.2rem;
	font-weight: 600;
	color: white;
}

.habit-tool-bar>div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.habit-tool-bar>div>button {
	margin: 0 5px;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	background-color: white;
	font-weight: 600;

	text-align: center;
	line-height: 1rem;
}

.progress-bar {
	margin: 5px 0px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	height: 10px;
}

.progress-bar-fill {
	background-color: rgb(45, 209, 45);
	/* width: 30%; */
	height: 10px;
	margin: 0px;
	border-radius: 5px;
}

.bottom-toolbar {
	width: 80vw;
	max-width: 400px;
	height: 50px;
	padding: 10px;
	background-color: white;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	position: fixed;
	bottom: 0px;

	border-radius: 15px 15px 0px 0px;
	box-shadow: 0px 5px 10px rgb(0, 0, 0);;
}

.bottom-toolbar>button {
	height: 50px;
	margin: 0 auto;
	background-color: transparent;
	font-size: var(--button-font-size);
	padding: 5px;
	border: none;
}

.icon-bar-icon {
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: none;
}