.registration-form>div>button, .registration-form>div>a {
	width: 45%;
	margin: 5px 0px;
	color: var(--custom-darkblue);
	background-color: transparent;
	font-size: var(--button-font-size);
	font-weight: 700;
	padding: 5px;
	border: solid var(--custom-darkblue) 2px;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
}

.registration-form>div>button:hover, .registration-form>div>a:hover {
	color: var(--custom-white);
	background-color: var(--custom-darkblue);
	border: solid var(--custom-darkblue) 2px;
}

.registration-form>a:visited {
	color: white;
}



.registration-form>div>button:disabled {
	border-color: lightgray;
	color: lightgray;
}

.password-reqs {
	width: 200px;
	margin: 10px 0px;
}
.password-reqs>p{
	font-weight: 300;
	font-size: .8rem;
}