

.habit-container {
	width: 100%;
	max-width: 288px;

	/* border: solid black 2px; */
}

.habit-title>button>img {
	width: 25px;
	height: 25px;
}

.edit-icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
	display: inline;
	cursor: pointer;
}

.habit-title>div>h2 {
	font-size: 1.8rem;
	font-weight: 700;
}

.habit-title>div>h3 {
	font-size: 1.8rem;
	font-weight: 200;
	color: var(--custom-darkblue);
}

.habit-container>p {
	/* text-align: center; */
}

.circle-button {
	display: inline;

	margin: 10px 0px;
	/* border: 2px solid black; */
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.top-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}

.habit-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.delete-button {
	border: red solid 2px;
    border-radius: 15px;
    background-color: red;
    height: 40px;
	margin: 10px auto;
	margin-top: 40px;
    width: 100%;
	max-width: 200px;
	color: red;

}

.delete-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}

.delete-button>p {
	color: white;
	font-size: 1.5rem;
	font-weight: 700;
}

.no-margin {
	margin: 0px;
	background-color: transparent;
	border: none;
}

.habit-stats {
	/* display: ;
	position: ;
	z-index: ; */

	width: 100%;
	/* height: ; */

	padding: 0px;
	/* border: dashed black 2px; */
	margin: 0 auto;
	margin-top: 20px;

	/* color: ;
	background-color: ;
	border-radius: ;
	box-shadow: ; */

	/* font-size: ; */
	/* font-weight: ; */
	text-align: center;
	/* text-decoration: ; */
}

.stat-box {
	margin: 20px auto;
	/* border: black solid 2px; */
	border-radius: 15px;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--custom-darkblue);
	box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.stat-box>p {
	color: var(--custom-white);
	font-weight: 200;
    font-size: 1rem;
}

#stats-box-num{
	text-align: center;
	color: var(--custom-white);
	font-size: 2rem;
}

.grid-container {
  display: grid;
  margin-top: 20px;
  width: 100%;
  height: 50%;
  color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px 4px;
  grid-template-areas: "Sunday Monday Tuesday Wednesday Thursday Friday Saturday" "sunday-fill monday-fill tuesday-fill wednesday-fill thursday-fill friday-fill saturday-fill";
}

.Sunday { grid-area: Sunday; }

.Monday { grid-area: Monday; }

.Tuesday { grid-area: Tuesday; }

.Wednesday { grid-area: Wednesday; }

.Thursday { grid-area: Thursday; }

.Friday { grid-area: Friday; }

.Saturday { grid-area: Saturday; }

.not-filled {
	background-color: lightgray;
	color: lightgray;
}

.filled {
	background-color: var(--custom-green);
	color: var(--custom-green);
}

.sunday-fill { 
	grid-area: sunday-fill; 
	width: 100%;
	height: 100%;
	user-select: none;
}


.monday-fill { 
	grid-area: monday-fill; 
	width: 100%;
	height: 100%;
	user-select: none;
}

.tuesday-fill { 
	grid-area: tuesday-fill; 
	width: 100%;
	height: 100%;
	user-select: none;
}

.wednesday-fill { 
	grid-area: wednesday-fill; 
	width: 100%;
	height: 100%;
	user-select: none;
}

.thursday-fill { 
	grid-area: thursday-fill; 
	width: 100%;
	height: 100%;
	user-select: none;
}

.friday-fill { 
	grid-area: friday-fill; 
	width: 100%;
	height: 100%;
	user-select: none;
}

.saturday-fill { 
	grid-area: saturday-fill; 
	width: 100%;
	height: 100%;
	user-select: none;
}

.completion-container {
	margin-top: 20px;
}

.completion-container>p {
	font-weight: 500;
}


.parent{
	max-width: 400px;
	display: block;
	/* flex-direction: row;
	justify-content: flex-start;
	align-items: center; */

	margin: 20px auto;
	padding: 10px 0px;
	/* border: black solid 2px; */
	border-radius: 15px;
	height: 100px;
	background-color: var(--custom-darkblue);
	box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.parent>p {
	color: var(--custom-white);
	font-weight: 200;
	font-size: 1rem;
}

.child {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	overflow: scroll;
	margin: 0px;
}

.parent>.child>li {
	/* border: 1px solid white; */
	min-width: 50px;
	height: 50px;
	margin: 5px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 5px 10px rgb(0, 0, 0);
	background-image: none;
	color: black;
}

.item>p {
	color: var(--custom-darkblue);
	font-weight: 700;
}

.true {
	background-color: var(--custom-green);
}

.false {
	background-color: var(--custom-white);
}

