<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../Login/index.css" type="text/css">
		<link rel="stylesheet" href="../Home/home.css" type="text/css">
		<link rel="stylesheet" href="../Profile/profile.css" type="text/css">
		<link rel="stylesheet" href="habit.css" type="text/css">
		<title>Strides</title>
	</head>

	<body>
		<div class="habit-container">
			<div class="top-buttons">
				<img src="../Assets/back.svg" alt="" class="edit-icon">
				
				<button class="no-margin">
					<img src="../Assets/edit.svg" alt="" class="edit-icon">
					<img src="../Assets/checkmark.svg" alt="" class="edit-icon">
				</button>
			</div>

			<div class="habit-title">
				<div class="no-margin">
					<h2>Practice Code</h2>
					<h3>everyday</h3>
				</div>	
			</div>

			<div class="completion-container">
				<p>Completion Rate</p>
				<div class="progress-bar">
					<div class="progress-bar-fill"></div>
				</div>
				<p>26%</p>
			</div>

			<div class="habit-stats">
				<div class="stat-box">
					<p>Week</p>
					<div class="grid-container">
						<div class="Sunday">S</div>
						<div class="Monday">M</div>
						<div class="Tuesday">T</div>
						<div class="Wednesday">W</div>
						<div class="Thursday">T</div>
						<div class="Friday">F</div>
						<div class="Saturday">S</div>

						<div class="sunday-fill filled">.</div>
						<div class="monday-fill filled">.</div>
						<div class="tuesday-fill not-filled">.</div>
						<div class="wednesday-fill not-filled">.</div>
						<div class="thursday-fill not-filled">.</div>
						<div class="friday-fill not-filled">.</div>
						<div class="saturday-fill not-filled">.</div>
					</div>
				</div>

				<div class="stat-box">
					<p>Current Streak</p>
					<p id="stats-box-num">2</p>
					<p>days</p>
				</div>

				<div class="stat-box">
					<p>Highest Streak</p>
					<p id="stats-box-num">10</p>
					<p>days</p>
				</div>
			</div>

				<button class="delete-button">
					<p>Delete</p>
				</button>
		</div>
	
	</body>

</html>