form {
	/* border: solid 2px black; */
	width: 100%;
	max-width: 300px;
	padding: 10px;
	margin: 0px auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 10px;
}

label, input {
	transition: 0.4s ease;
}

label {
	color: var(--custom-darkblue);
	transform: translate(4px, 20px) scale(1.10);
	transform-origin: left top;
	position: absolute;
	cursor: text;
	font-weight: 300;
	pointer-events: none;
}

input {
	width: 100%;
	height: 2.5rem;
	padding: 5px;
	margin: 10px 0px;
	
	background-color: transparent;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid var(--custom-darkblue) 1px;
	font-size: var(--input-font-size);
	color: var(--custom-darkblue);	
}

input:focus {
	border-bottom: solid var(--custom-darkblue) 3px;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label{
	transform: translate(0px, -10px) scale(0.8);
}

input::placeholder {
	color: gray;
	opacity: 0;
}

form>div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	width: 100%;
	padding: 0px;
}

.login-form>div>button, .login-form>div>a {
	width: 45%;
	margin: 5px 0px;
	color: var(--custom-darkblue);
	background-color: transparent;
	font-size: var(--button-font-size);
	font-weight: 700;
	padding: 5px;
	border: solid var(--custom-darkblue) 2px;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
}

.login-form>div>button:hover, .login-form>div>a:hover {
	color: var(--custom-white);
	background-color: var(--custom-darkblue);
	border: solid var(--custom-darkblue) 2px;
}

.login-form>a:visited {
	color: var(--custom-darkblue);
}

.rightside {
	background-color: white;
	width: 50vw;
	height: 100vh;
	display: none;
}

.login-screen {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.secondary-container {
	display: none;
}

@media (min-width: 768px) {
	html {
		margin: 0px auto;
	}

	body {
		max-width: 100vw;
		width: 100vw;
		margin: 0px 0px;
	}

	.rightside {
		position: relative;
		/* background-color: red; */
		width: 50vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.login-container {
		width: 50vw;
		height: 100vh;
		margin: 0px auto;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.login-form {
		max-width: 300px;
	}

	.secondary-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.secondary-container h1 {
		margin: 0px;
		padding: 0px;
	}

	.secondary-container p {
		width: 40vw;
		margin: 10px auto;
		margin-bottom: 15px;
		font-size: .8rem;
	}

	.row-1, .row-2, .row-3 {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		width: 100vw;
		border-top: solid black 3px;
	}

	.row-1>.left, .row-3>.left {
		background-color: aqua;
	}

	.row-2>.right{
		background-color:pink;
	}

	.left, .right {
		width: 50vw;
		height: auto;
		position: relative;
		padding: 20px;
	}

	.rightside>img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		display: block;
	}

	.title-right {
		display: block;
		position: absolute;
		color: white;
		font-size: 4rem;
		text-shadow: 10px 5px 0px black;
	}

	.nav-links {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;

		position: absolute;
		top: 0px;
		left: 0px;

		width: 100%;
		height: 80px;
		padding: 10px 20px;

	}

	.nav-links>a {
		width: 100px;
		border: white solid 2px;
		padding: 5px 0px;
		border-radius: 20px;
		cursor: pointer;
		text-align: center;
		margin: 0px 10px;
	}

	.nav-links>a:hover, .nav-links>a:active {
		font-weight: 800;
		color: black;
		background-color: white;;
	}

	.mock-iphone-img {
		max-width: 100%;
		overflow: hidden;
		top: absolute;
		left: 0px;
	}

}