<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../Login/index.css" type="text/css">
		<link rel="stylesheet" href="../Home/home.css" type="text/css">
		<link rel="stylesheet" href="settings.css" type="text/css">
		<link rel="stylesheet" href="../Habit/habit.css" type="text/css">
		<title>Strides</title>
	</head>

	<body>

		<div class="settings-container">
			<div class="top-buttons">
				<img src="../Assets/back.svg" alt="" class="edit-icon">
			</div>

			<h2>
				Logout
			</h2>

			<h2>
				General
			</h2>
			<p>About This App</p>

			<h2>
				Notifications
			</h2>
			<p>Morning Reminder</p>
			<p>Evening Reminder</p>

			<h2>
				Legal
			</h2>
			<p>Privacy Policy</p>
			<p>Terms And Conditions</p>

			<h2>
				Account
			</h2>
			<p>Send Feedback</p>
			<p>Reset Progress</p>
			<p>Log Out</p>
			
		</div>

		<div class="bottom-toolbar">
			<button><img src="../Assets/home-icon.svg" alt="" class="icon-bar-icon"></button>
			<button><img src="../Assets/plus-icon.svg" alt="" class="icon-bar-icon"></button>
			<button><img src="../Assets/profile-icon.svg" alt="" class="icon-bar-icon"></button>
		</div>
	</body>

</html>