.settings-container {
	width: 100%;
	max-width: 288px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 40px;

	/* border: solid black 2px; */
}



.settings-container>h2, .settings-container>p {
	margin: 0px;
}

.settings-container>h2 {
	margin-top: 20px;
	font-size: 1.8rem;
}

.settings-container>p {
	color: black;
	font-weight: 300;
}

.logout-button {
	background-color: transparent;
	border: none;
}

.mailto{
	color: var(--custom-darkblue);
	
}


